.container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 3rem;
}

form {
    display: flex;
    flex-direction: column;
}

#submit-button {
    margin-top: 10px;
}

#title {
    margin-bottom: 5px;
}
