.notes-list-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: start;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(auto-fill, 2fr);
    gap: 1em 1em;
}   
