.note-item {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: inline-flex;
    width: 115px;
    height: 2rem;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
    overflow-x: auto;
}